body pre{
    background-color: rgba(251, 244, 222, 70);
}

#disqus_thread{
    margin-top: 25px;
}

h2{
  padding-top: 10px;
}

.post{
 margin: 15px 0;
}

header{
    height: 40px;
    line-height: 40px;
}

header nav a{
  margin-right: 10px;
}


.title{
    font-size: 20px;
    position:relative;
    top:3px;
}

.content{
    padding-top: 10px;
}
