body pre{
    background-color: rgba(251, 244, 222, 70);
}

body .container {
    max-width: 900px;
}

#body-content {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#disqus_thread{
    margin-top: 25px;
}

h2{
  padding-top: 10px;
}

.post{
  margin: 15px 0;
}

header{
    height: 40px;
    line-height: 40px;
}

header nav a{
    margin-right: 10px;
}

a img:hover{
    opacity: 0.7;
}


.title{
    font-size: 20px;
    position:relative;
    top:3px;
}

.content{
    padding-top: 10px;
}

.post .content h2{
  padding-top: 20px;
}

.post .content h3{
  padding-top: 10px;
}

li p{
    margin-left: 10px;
}

img {
    max-height: 400px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 15px;
}

.highlight{
  margin: 10px 0;
}
