---
layout: default
---

<div class="post cell">
  <h1>{{ page.title }}</h1>
  <h4 class="large-bottom">
    Posted on {{ page.date | date: "%d %B %Y" }}
    {% if page.category %} in <a href="/categories/{{ page.category | slugize }}">{{ page.category }}</a> {% endif %}
  </h4>
  
  <div class="content">
    {{ content }}
  </div>

  <div>
    <hr />
    <div style="overflow:hidden;">
      <p style="float:left;">
        If this article helped you, consider following me <a href="https://www.twitter.com/kevzettler">on Twitter</a>
      </p>
      <div style="float:right;">
        <span class='st_twitter_hcount' displayText='Tweet'></span>
        <span class='st_email_hcount' displayText='Email'></span>
      </div>
    </div>
    
    <hr />
  </div>


  
  {% if page.tags %}
    Tagged in
    {% for tag in page.tags %}
      <strong><a href="/tags/{{ tag | slugize }}">{{ tag }}</a></strong>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
    <br />
  {% endif %}


  <div class="next-prev-nav low-top">
    {% if page.previous.url %}
      &laquo;&nbsp;<a href="{{ page.previous.url }}" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
    {% endif %}
  
    {% if page.previous.url %}
      {% if page.next.url %}
        |
      {% endif %}
    {% endif %}
    
  
    {% if page.next.url %}
      <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>&nbsp;&raquo;
    {% endif %}
  
    <br />
  </div>
  
  {% unless page.no_comments %}
    {% include comments.html %}
  {% endunless %}
</div>
